.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
:root{
    --Almost-White: hsl(0, 0%, 98%); 
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background: var(--Almost-White);
    position: fixed;
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.logo{
    padding-right: 60px;
    align-items: center;
    
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    /* background-color: red; */
}

#arrow-up, #arrow-down{
    right: 0%;
    
}

#arrow-up{
    opacity: 0;
}


.all-menu{
    display: flex;
    align-items: center;
} 

#menu-ctn li{
    display: inline-block;
    margin-right:50px;
    cursor: pointer;
    color: var(--Medium-Gray);
    transition: all ease-in 0.3s;
    position: relative;
    
}
#drop-down {
    display: none; 
    position: absolute;
    /* background-color: white; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
    width: 100%; 
    text-align: center;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1; 
    left: 0;
    top: 100%;
    line-height: 38px;
}

.dropdown-img{
  background: white;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  
  
}



#drop-down.active{
    display: block;
}



.drop-img{
    margin-right: 5px;
}



#menu-ctn > li:hover{
  color: var(--Almost-Black);
}
#btn{
    align-items: center;
    color: var(--Medium-Gray);
    cursor: pointer;
}

#btn-1{
    display: inline-block;
    margin-right: 10px;
    transition: all ease-in 0.3s;
}

#btn-1:hover{
    color: var(--Almost-Black);
}

#btn-2{
  padding: 10px 20px;
  color: var(--Medium-Gray);
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #c4c4c4;
 
  
}



.hero-img{
  height: 100%; 
  padding-left: 200px;
  /* padding-right: 100px;   */
  
  /* position: fixed; */
  
  
}

.main{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 175px;
    height: 100vh;
    
    
}



.text{
    align-items: center;
    margin-top: 90px;
    
}

.text-1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 35px;
}

.text-2{
    font-weight: 400px;
    color: var(--Medium-Gray);
    margin-bottom: 30px;
    line-height: 24px;
}

.learn-more{
   background-color: var(--Almost-Black); 
   border: none;
   color: white;
   padding: 15px 35px ;
   border-radius: 15px;
   cursor: pointer;
   margin-bottom: 80px;
}

